@import "utilities";

%btn {
  @include spacing();
  font-weight: bolder;
  border: none;
  height: 40px;
  cursor: pointer;
}

@mixin btn-variant-1($background) {
  @extend %btn;
  &:hover {
    color: $color-red;
  }
  &:active {
    transform: scale(0.95);
  }
}

@mixin btn-variant-2($background) {
  @extend %btn;
  @include set-background($background);
  border-radius: 20px;
  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    transform: scale(0.95);
  }
}

@mixin icon($fill) {
  fill: $fill;
  width: 100%;
  height: 100%;
}


//

.btn {
  &.cinza{
    @include btn-variant-2($color-grey);
  }

  &.vermelho{
    @include btn-variant-2($color-red);
  }

  &.disabled {
    opacity: 0.5;
  }
}